.card {
    margin: 15px; 
    background: orange;

    display: flex; 
    padding: 0 1.5rem; 
    justify-content: space-between; 
    align-items: flex-start; 
    border-radius: 0.5rem; 
    width: 75%; 
    max-width: 32rem; 
    color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 

}

.card_right-div {
    text-align: right; 
}

.card_event-name {
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    margin-bottom: 0;
}

.card_organization {
    margin-top: 0.5rem; 
    font-style: italic; 
}

.card_goal {
    margin-top: 2rem; 
}

.card_learn-more {
    display: block; 
    margin-top: 4.5rem; 
    color: #ffffff; 
    text-decoration: underline; 
    border: none;
    background: none;
    font-style: italic;
}